.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056cc;
}

.search-input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sort-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.sort-button:hover {
  background-color: #218838;
}

.course-list {
  list-style: none;
  padding: 0;
}

.course-item {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-item h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #0077ff;
}

.course-item p {
  margin: 0;
  color: #555;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin: 20px 0;
}

.details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.details-button:hover {
  background-color: #0056b3;
}
